.tree {
  overflow: scroll;
  background: linear-gradient(to bottom right, #877BFF, #4384AA, #4364AC);
  background: linear-gradient(to bottom left, #877BFF, #4384AA, #4364AC);
}

.external,
.Language {
  list-style: none;
  display: inline-block;
  color: white;
  margin-right: 60px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.Langoptions {
  display: none;
}

#ref {

  outline: none;

}

.title {
  color: white;
  font-size: 60px;

}

.profile {
  border-radius: 100%;
  overflow: hidden;
  box-shadow: black;
  width: 200px;
  box-shadow: black;
  align-self: inherit;
  width: 300px;
  height: 300px;

}

h2 {
  color: #EAECED;
}

.info {
  color: #EAECED;
  font-size: 30px;

}

.upmenu {
  border: none;
  border-color: none;
  padding: 10px;
  font-size: 30px;
}

.sources {

  color: white;
  appearance: none;
  text-decoration: none;

}

.external:hover {
  color: #91b7c6;
  transform: translateY(-3px);
}

.Language:hover {
  color: #91b7c6;
  transform: translateY(-3px);
}

.sources:hover {
  color: #91b7c6;
  transform: translateY(-3px);
}

.icon {
  color: white;
  width: 7%;
  height: 3%;
  filter: invert(1);
}

.globe{

  color: white;
  height: 3%;
  filter: invert(1);

}

.flags {
  width: 3%;
  filter: blur(1);
}


.portuguese,
.english {
  list-style: none;
  color: azure;

}

@media screen and (max-width: 730px) {

  .external,
  .Language,
  p,
  li,
  ul {
    font-size: 65%;
    margin-right: 50px;
  }

  .title {
    font-size: 70px;
  }


}